In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")
import re

In [24]:
df = pd.read_csv(r"C:\Users\Mayank\Desktop\Learnings\Project\Python + SQL\Bank Loan Analysis\financial_loan.csv")
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,...,C4,60 months,Source Verified,30000,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,...,E1,36 months,Source Verified,48000,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,...,C5,36 months,Not Verified,50000,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,...,B2,60 months,Source Verified,42000,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,...,A1,36 months,Verified,83000,0.0231,106.53,0.0603,3500,28,3835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,< 1 year,Joseph M Sanzari Company,C,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,...,C1,60 months,Verified,100000,0.1986,551.64,0.1299,24250,33,31946
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,11-10-2021,16-04-2021,16-05-2021,...,C1,60 months,Verified,50000,0.0458,579.72,0.1349,25200,18,31870
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,11-09-2021,16-05-2021,16-05-2021,...,D5,60 months,Verified,65000,0.1734,627.93,0.1749,25000,20,35721
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,11-10-2021,16-05-2021,16-05-2021,...,D5,60 months,Verified,368000,0.0009,612.72,0.1825,24000,9,33677
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,11-07-2021,16-05-2021,16-05-2021,...,F3,60 months,Verified,80000,0.0600,486.86,0.2099,18000,7,27679

In [3]:
df.shape

(38576, 24)

In [25]:
((df.isnull().sum()/len(df))*100).round(2)

id                        0.00
address_state             0.00
application_type          0.00
emp_length                0.00
emp_title                 3.73
grade                     0.00
home_ownership            0.00
 issue_date               0.00
last_credit_pull_date     0.00
 last_payment_date        0.00
 loan_status              0.00
next_payment_date         0.00
member_id                 0.00
purpose                   0.00
sub_grade                 0.00
term                      0.00
verification_status       0.00
annual_income             0.00
dti                       0.00
installment               0.00
int_rate                  0.00
loan_amount               0.00
total_acc                 0.00
total_payment             0.00
dtype: float64

In [26]:
string_col = df.select_dtypes(include="object")
string_col

,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,purpose,sub_grade,term,verification_status
0,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,Charged Off,13-05-2021,car,C4,60 months,Source Verified
1,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,car,E1,36 months,Source Verified
2,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,Charged Off,09-02-2021,car,C5,36 months,Not Verified
3,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,Fully Paid,12-04-2021,car,B2,60 months,Source Verified
4,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,car,A1,36 months,Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,NJ,INDIVIDUAL,< 1 year,Joseph M Sanzari Company,C,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,C1,60 months,Verified
38572,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,11-10-2021,16-04-2021,16-05-2021,Current,16-06-2021,wedding,C1,60 months,Verified
38573,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,11-09-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,D5,60 months,Verified
38574,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,11-10-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,D5,60 months,Verified
38575,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,F3,60 months,Verified

In [27]:
for i,rows in df.items():
    print(i)

id
address_state
application_type
emp_length
emp_title
grade
home_ownership
 issue_date
last_credit_pull_date
 last_payment_date
 loan_status
next_payment_date
member_id
purpose
sub_grade
term
verification_status
annual_income
dti
installment
int_rate
loan_amount
total_acc
total_payment

In [28]:
def clean_column_names(columns):
    new_columns = []
    for col in columns:
        col = col.strip()
        col = col.lower()
        col = re.sub(r"[^\w\s]"," ", col)
        col = "_".join(col.split())
        new_columns.append(col)
    return new_columns

df.columns = clean_column_names(df.columns)
print(df.columns)
df

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment'],
      dtype='object')

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,...,C4,60 months,Source Verified,30000,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,...,E1,36 months,Source Verified,48000,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,...,C5,36 months,Not Verified,50000,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,...,B2,60 months,Source Verified,42000,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,...,A1,36 months,Verified,83000,0.0231,106.53,0.0603,3500,28,3835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,< 1 year,Joseph M Sanzari Company,C,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,...,C1,60 months,Verified,100000,0.1986,551.64,0.1299,24250,33,31946
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,11-10-2021,16-04-2021,16-05-2021,...,C1,60 months,Verified,50000,0.0458,579.72,0.1349,25200,18,31870
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,11-09-2021,16-05-2021,16-05-2021,...,D5,60 months,Verified,65000,0.1734,627.93,0.1749,25000,20,35721
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,11-10-2021,16-05-2021,16-05-2021,...,D5,60 months,Verified,368000,0.0009,612.72,0.1825,24000,9,33677
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,11-07-2021,16-05-2021,16-05-2021,...,F3,60 months,Verified,80000,0.0600,486.86,0.2099,18000,7,27679

In [29]:
for i,rows in df.items():
    print(i)

id
address_state
application_type
emp_length
emp_title
grade
home_ownership
issue_date
last_credit_pull_date
last_payment_date
loan_status
next_payment_date
member_id
purpose
sub_grade
term
verification_status
annual_income
dti
installment
int_rate
loan_amount
total_acc
total_payment

In [30]:
# print(df.dtypes)

# # Function to check and convert date, time, and datetime columns
# def convert_columns(df):
#     for col in df.columns:
#         if df[col].dtype == 'object' or df[col].dtype == 'str':
#             try:
#                 # Try converting to datetime
#                 df[col] = pd.to_datetime(df[col], errors='coerce')  # 'coerce' replaces invalid entries with NaT
#                 if pd.api.types.is_datetime64_any_dtype(df[col]):
#                     print(f"Column '{col}' successfully converted to datetime.")
#                     continue  # Skip further checks if successfully converted
#             except Exception as e:
#                 print(f"Error converting column '{col}' to datetime: {e}")
            
#             try:
#                 # If not datetime, try extracting time
#                 df[col] = pd.to_datetime(df[col], errors='coerce').dt.time
#                 if df[col].notnull().all():
#                     print(f"Column '{col}' successfully converted to time.")
#             except Exception as e:
#                 print(f"Error converting column '{col}' to time: {e}")
#         else:
#             print(f"Column '{col}' is not an object or string type, skipped.")
    
#     return df

# # Apply conversion
# df = convert_columns(df)

# # Print updated data types
# print("\nUpdated Data Types:")
# print(df.dtypes)

# finding the length of the columns

id
address_state
application_type
emp_length
emp_title
grade
home_ownership
issue_date
last_credit_pull_date
last_payment_date
loan_status
next_payment_date
member_id
purpose
sub_grade
term
verification_status
annual_income
dti
installment
int_rate
loan_amount
total_acc
total_payment

In [48]:
max(df.dti.str.len())

AttributeError: Can only use .str accessor with string values!

In [42]:
df.iloc[0:2,6:]

,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,member_id,purpose,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,RENT,11-02-2021,13-09-2021,13-04-2021,Charged Off,13-05-2021,1314167,car,C4,60 months,Source Verified,30000,0.0100,59.83,0.1527,2500,4,1009
1,RENT,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,1288686,car,E1,36 months,Source Verified,48000,0.0535,109.43,0.1864,3000,4,3939

In [50]:
# max(df.total_acc.len())

In [51]:
# load the dataset into sql server

import sqlalchemy as sal

# Replace 'your_username', 'your_password', 'your_host', 'your_port', and 'your_database' with your actual MySQL credentials
username = 'root'
password = '1234'
host = '127.0.0.1'
port = '3306'
database = 'bank_loan_db'

# The correct connection string for MySQL
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}'

engine = sal.create_engine(connection_string)
conn = engine.connect()

In [52]:
df.to_sql('financial_data',con = conn , index = False, if_exists='replace')
conn.close()